<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">Rate Your Barista</h1>
        <button class="button button-clear button-primary ion-close" ng-click="modal.hide()"></button>
    </ion-header-bar>

    <ion-content>

        <div class="list card">

            <div class="item item-avatar">
                <img ng-src="img/barista.png"/>
                <h2>Julia</h2>
                <p>Date</p>
            </div>

            <label class="item item-radio" ng-click="modal.hide()">
                <input type="radio" name="group">
                <div class="item-content">
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio" ng-click="modal.hide()">
                <input type="radio" name="group">
                <div class="item-content">
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio" ng-click="modal.hide()">
                <input type="radio" name="group">
                <div class="item-content">
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio" ng-click="modal.hide()">
                <input type="radio" name="group">
                <div class="item-content">
                    <i class="icon ion-ios7-star"></i>
                    <i class="icon ion-ios7-star"></i>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio" ng-click="modal.hide()">
                <input type="radio" name="group">
                <div class="item-content">
                    <i class="icon ion-ios7-star"></i>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

    </ion-content>

</ion-modal-view>

