<ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-light">

    <ion-tab title="Me" icon-off="ion-ios7-person-outline" icon-on="ion-ios7-person" href="#/tab/userprofile">
        <ion-nav-view name="tab-userprofile"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pay" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/pay">
        <ion-nav-view name="tab-pay"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Stores" icon-off="ion-ios7-location-outline" icon-on="ion-ios7-location" href="#/tab/stores">
        <ion-nav-view name="tab-stores"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Notifications" icon-off="ion-ios7-bell-outline" icon-on="ion-ios7-bell" href="#/tab/notifications">
        <ion-nav-view name="tab-notifications"></ion-nav-view>
    </ion-tab>

</ion-tabs>
